* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Tag CSS */
header {
  background-image: url(img/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

  height: 100%;
}

/* General CSS */
.flex {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  justify-content: flex-end;
}

.section-divider {
  display: block;
  width: 80vw;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: red;

  margin-top: -2vw;
  margin-bottom: 2vw;
}

/* Header-Styles */
#main-logo {
  position: relative;
  padding-top: 6.4vw;
  padding-left: 4vw;
  
  max-width: 175px;

  filter: brightness(150%);
  cursor: pointer;
}

#main-nav {
  padding-right: 4vw;
}

#nav-list {
  padding-right: 10vw;
}

#nav-list a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

  padding-left: 2rem;
  letter-spacing: 0.15em;
}

#nav-list a:hover {
  color: pink;
}

#cart {
  color: white;
  font-size: 28px;
  margin-top: 12.5px;

  cursor: pointer;
}

#cart:hover {
  color: pink;
}

#header-info {
  position: relative;
  margin-left: 4vw;
  margin-top: 20vw;

  letter-spacing: 0.15em;
}

header h1, header p, header button {
  color: white;
}

header {
  font-size: 2vw;
}

header p {
  margin-top: 0.8vw;
  font-weight: bold;
}

header button {
  width: 280px;
  height: 60px;
  background-color: rgb(237, 68, 68);
  border: none;
  border-radius: 300px;

  cursor: pointer;

  margin-top: 2vw;
  margin-bottom: 12.5vw;

  font-weight: 700;
  font-size: 18px;
}

/* Review Slides */
.slide-container {
  display: block;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.user {
  cursor: pointer;
}

.user:hover {
  text-decoration: underline;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 180px;
  height: auto;
}

.user-name {
  text-align: center;
  margin-top: -25px;

  letter-spacing: 0.1rem;
}

.review-stars {
  display: table;
  margin: auto;

  font-size: 35px;
  color: orange;
}

.review-msg {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1rem;

  margin-top: 1rem;
}

.read-more {
  cursor: pointer;
  font-size: 15px;
  opacity: 50%;
  letter-spacing: 0.1rem;
  text-align: center;

  margin-top: 1rem;
  margin-bottom: 5rem;
}

.circle {
  cursor: pointer;
  text-align: center;

  background-color: grey;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  margin-top: 2vw;
}

.circle:hover {
  background-color: pink;
}

.prev, .next {
  font-size: 30px;
  color: white;
}

.slide-button {
  gap: 2.5vw;
  margin-bottom: -6rem;
}